* {
    background-color: antiquewhite;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Verdana, sans-serif;
    color: darkslategray;
}
body {
    margin: 1vh 2vh;
}

header {
    float: top;
    height: 8vh;
    background-size: auto;
}


.content {
    font: 18px/1;
    text-transform: uppercase;
    padding: 20px;
    margin-top: 3vh;
    margin-bottom: 10vh;
    min-height: 80vh;
}

.main {
    float: top;
    margin: 5vh;
}

.main ul {
    list-style-type: none;
    float: left;
    min-width: 100vh;
    min-height: 10vh;
}

.main ul li {
    display: inline-block;
}

.main ul li:last-child {
    float: right;
}

.main ul li a {
    text-decoration: none;
    font: 25px/1;
    text-transform: uppercase;
    font-weight: bold;
    color: coral;
    background-color: white;
    padding: 5px 20px;
    border: 1px solid coral;
}

.main ul li a:hover {
    background-color: coral;
    color: white;
}

a {
    text-decoration: none;
    color: #ccc;
    font: 18px/1;
    text-transform: uppercase;
    font-weight: bold;
    color: coral;
}

form {
    margin-top: 5vh;
    margin-bottom: 5vh;
}

fieldset {
    padding: 10px;
}

input[type="text"] {
    margin: .4rem;
    padding: .1rem;
    background-color: white;
    font: 15px/1;
}

input[type="password"] {
    margin: .4rem;
    padding: .1rem;
    background-color: white;
    font: 15px/1;
}

input[type="submit"] {
    margin: .4rem;
    padding: .1rem;
    background-color: white;
    text-transform: uppercase;
    font: 12px/1;
}

textarea {
    margin: .4rem;
    padding: .1rem;
    background-color: white;
    font: 15px/1;
}

textarea {
    resize: none;
    font: 25px/1 Helvetica, Verdana, sans-serif;
}

hr {
    margin: 3vh 10vh;
}

.endtext {
    vertical-align: bottom;
    margin-bottom: 3vh;
    text-align: center;
    opacity: 40%;
}