<!DOCTYPE html>

<head>
    <title>{% block title %}{% endblock %} - Chat404</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
    <div class="mainTitle">
        <h1>CHAT404</h1>
    </div>
    <div class="navbar">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/subjects">Forum</a></li>
                <li><a href="/search">Search</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="/logout">Log out</a></li>
            </ul>
        </nav>
    </div>
    <div class="content">
        <div class="pagetitle">
            {% block header %}{% endblock %}
            <br>
        </div>
        <div>
            {% block content %}{%  endblock %}
        </div>
    </div>
    <div class="endtext">
        <hr>
        <p>Github repository for this page can be found here <a
                href="https://github.com/Viltska/python-chat-app">here</a></p>
        <p></p>
    </div>
</body>