{% extends "base.html" %}

{% block header %}
<h1>{% block title %} Welcome to Chat404 {% endblock %} </h1>


{% endblock %}

{% block content %}

{% if session.username %}
<p>You are logged in as '{{ session.username }}' </p>
<br>
<a href="/logout">Log out</a>

{% else %}
<h4>Log in</h4>

<form action="/login" method="POST">
    <p>Tunnus:<br>
        <input type="text" name="username" maxlength="10" required></p>
    <p>Salasana:<br>
        <input type="password" name="password" maxlength="20" required></p>
    <input type="submit" value="Log in">
</form>
{% endif %}

{% endblock %}