<title>Kirjaudu sisään</title>

<body>
    <div>

        <h1>Kirjaudu sisään</h1>
        <form action="/login" method="post">
            Tunnus: <input type="text" name="username">
            <p>
                Salasana: <input type="password name = " paddword>
            </p>
            <p>
                <button disabled=true>Kirjaudu</button>
            </p>
        </form action="/login">
    </div>
    <div>
        <h3>Luo käyttäjätunnus</h3>

        <a href="/">Luo uusi käyttäjä</a>
        <p>
            <a href="/">Palaa etusivulle</a>
        </p>
    </div>
</body>