{% extends "base.html" %}

{% block header %}
<h1>{% block title %} {{ name }} {% endblock %} </h1>
<p>Room owner: <b>{{ owner }}</b></p>
{% endblock %}

{% block content%}

{% if session.username %}

<div class="message-wrapper">
    <fieldset>
        <legend>Messages</legend>
        {% for message in messages %}
        <p class="message"><b>{{ message[1] }}@{{ messages[2][2].strftime('%Y-%m-%d') }}:</b> {{ message[0] }}</p>
        {% endfor %}
    </fieldset>
</div>
<br>


<form action="/send" method="POST">
    <p>new message by you, {{ session.username }}:</p>
    <input type="hidden" name="room_id" value="{{ id }}">
    <textarea name="content" rows="3" cols="40"></textarea>
    <br>
    <input type="submit" value="Send your important message">
</form>

{% else %}
<p> You must be logged in to send messages to this room.</p>
<br>
<a href="/">Log in</a>
<br>
<a href="/register.html">Register</a>

{% endif %}

{% endblock %}