{% extends "base.html" %}

{% block header %}
<h1>{% block title %} {{ name }} - {{ id }}{% endblock %} </h1>
<p>{{ content }}</p>

{% if owner == session.username or session.admin %}
<p>
<form action="/deleteRoom" method="POST">
    <input type="hidden" name="room_id" value= "{{ id }}">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="submit" value="Delete">
</form>
</p>

{% else %}

<p>Owner: <b>{{ owner }}</b></p>

{% endif %}

{% endblock %}

{% block content%}

{% if session.username %}

<div class="message-wrapper">
    <fieldset>
        <legend>Messages</legend>
        {% if messages is defined %}

        {% for message in messages %}

        {% if message[1] == session.username or session.admin %}
        <form action="/deleteMessage" method="POST">
            <p class="message">
                <input type="hidden" name="message_id" value=" {{ message[3] }}">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                <input type="submit" value="Delete">
                <b>{{message[1]}}
                    ({{message[2].strftime('%d-%m-%y')}}): </b>{{ message[0]}}</p>
        </form>
        {% else%}
        <p class="message"><b>{{message[1]}} ({{message[2].strftime('%d-%m-%y')}}): </b>{{ message[0]}}</p>
        {% endif %}

        {% endfor %}
        {% endif %}
    </fieldset>
</div>

<div>
    <form action="/send" method="POST">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <p>{{ session.username }}:</p>
        <input type="hidden" name="room_id" value="{{ id }}">
        <textarea name="content" rows="3" cols="40" maxlength="130" required></textarea><br>
        <input type="submit" value="Send">
    </form>
</div>

{% else %}
<p> You must be logged in to send messages to this room.</p>
<br>
<a href="/">Log in</a>
<br>
or
<br>
<a href="/register">Register</a>

{% endif %}

{% endblock %}