{% extends "base.html" %}

{% block header %}
<h1>{% block title %} {{ name }} - ID: {{ id }} {% endblock %} </h1>
<h2>Owner: {{ owner }}</h2>
{% endblock %}

{% block content%}

<div>
    <h3>Messages</h3>
    <br>
    {% for message in messages %}
    {{ message[0] }}
    {% endfor %}
</div>
<br>


{% if session.username %}

<form action="/send" method="POST">
    {{ session.username }}:<br>
    <input type="hidden" value="{{ id }}">
    <textarea name="content" rows="3" cols="40"></textarea>
    <br>
    <input type="submit" value="Send" >
</form>

{% else %}
<p> You must be logged in to send messages to this room.</p>
<br>
<a href="/">Log in</a>
<br>
<a href="/register.html">Register</a>

{% endif %}

{% endblock %}