{% extends "base.html" %}

{% block header %}
<div>
    <h1>{% block title %} Search {% endblock %} </h1>
</div>
{% endblock %}

{% block content%}

{% if session.username %}
<div>
    {% if query is defined %}
    <h4> found {{ results|length }} matches for '{{ query }}'</h4>
    {% endif %}

    {% if results is defined %}
    <div class="message-wrapper">
        <fieldset>
            <legend>Results</legend>
            {% for result in results %}

            {% if result[0] == session.username or session.admin %}
            <p class="message"><a href="/setVisible/id={{ result[3] }}"><b>Delete - </b></a><b>{{result[0]}}
                    ({{result[1]}}):
                </b>{{ result[2]}}</p>

            {% else %}
            <p class="message"><b>{{result[0]}} ({{result[1]}}): </b>{{ result[2]}}</p>
            {% endif %}

            {% endfor %}
        </fieldset>
    </div>
    {% endif %}


    <form action="/result" method="GET">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <textarea name="query" rows="3" cols="40" required></textarea>
        <br>
        <input type="submit" value="Search">
    </form>
</div>

{% else %}
<div>
    <p> You must be logged in to use the search function</p>
    <a href="/">Log in</a>
    <br>
    or
    <br>
    <a href="/register">Register</a>
</div>
{% endif %}

{% endblock %}