{% extends "base.html" %}

{% block header %}
<h1>{% block title %} Search {% endblock %} </h1>
{% endblock %}

{% block content%}


{% if session.username %}


<div>
    <h4>results:</h4>
    <p> {{result}}</p>
</div>


<form action="/search" method="GET">
    <fieldset>
        <legend>Search &#128269</legend>
        <p>
            <textarea name="content" rows="3" cols="40"></textarea>
        </p>
        <input type="submit" value="Send">
    </fieldset>
</form>

{% else %}
<p> You must be logged in to use search function.</p>
<br>
<a href="/">Log in</a>
<br>
<a href="register.html">Register</a>

{% endif %}

{% endblock %}