{% extends "base.html" %}

{% block title %} Rooms {% endblock %}

{% block header %}
<h1> Subjects </h1>
{% endblock %}

{% block content%}

{% if session.username %}
<div>
    {% if subjects is defined %}
    <ul>
        {% for subject in subjects %}

        {% if subject[2] ==  0%}

        <li><a href="{{ url_for('subject', id=subject[0]) }}">{{ subject[1] }}</a></li>
        {% else %}
        <li><a href="{{ url_for('subject', id=subject[0]) }}">{{ subject[1] }} 🔐</a></li>
        {% endif %}

        {% endfor %}
    </ul>
    {% endif %}
    <p>Create a new subject <a href="/create/id=0">Here</a></p>
</div>

{% else %}
<div>
    <p>You must be logged in to view rooms</p>
    <a href="/">Log in</a>
    <br>
    or
    <br>
    <a href="/">Register</a>
</div>
{% endif %}
{% endblock %}