{% extends "base.html" %}

{% block header %}

<h1>{% block title %} {{ subject_name }} {% endblock %} </h1>
<p>'{{ content }}'</p>
{% endblock %}

{% block content%}

{% if session.username %}

<div>
    {% if rooms is defined %}
    <fieldset>
        <legend>Rooms</legend>
        <ul>
            {% for room in rooms %}
            <li><a href="{{ url_for('room', id=room[0]) }}">{{ room[1] }}</a></li>
            <br>
            {% endfor %}
        </ul>

    </fieldset>
    {% else%}

    <p>Subject has no rooms yet</p>

    {% endif %}
</div>

<div>
    <p>Create a new room <a href="/create/id={{ id }}">here</a></p>
</div>

{% else %}
<p> Log in to view the rooms</p>
<br>
<a href="/">Log in</a>
<br>
or
<br>
<a href="/register">Register</a>

{% endif %}

{% endblock %}